flows.json
[{"id":"ffcc3b8b.0b40a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"beb52e4f.3b495","type":"mqtt-broker","z":"","name":"SKRIPSI_MQTT","broker":"192.168.100.69","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e82f06a0.00f9b8","type":"ui_tab","z":"","name":"SKRIPSI","icon":"dashboard","disabled":false,"hidden":false},{"id":"65aa9370.a55c7c","type":"ui_group","z":"","name":"Default","tab":"e82f06a0.00f9b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5631e16.bbe0e","type":"ui_button","z":"ffcc3b8b.0b40a8","name":"","group":"65aa9370.a55c7c","order":1,"width":0,"height":0,"passthru":false,"label":"Kipas On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"h","payloadType":"str","topic":"","x":240,"y":100,"wires":[[]]},{"id":"3d237967.4d4726","type":"ui_button","z":"ffcc3b8b.0b40a8","name":"","group":"65aa9370.a55c7c","order":0,"width":0,"height":0,"passthru":false,"label":"Kipas OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"m","payloadType":"str","topic":"","x":270,"y":180,"wires":[[]]},{"id":"bec26b92.09b768","type":"ui_button","z":"ffcc3b8b.0b40a8","name":"","group":"65aa9370.a55c7c","order":3,"width":0,"height":0,"passthru":false,"label":"Servo Keluar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"b","payloadType":"str","topic":"","x":450,"y":460,"wires":[[]]},{"id":"78d55df6.ef4854","type":"ui_button","z":"ffcc3b8b.0b40a8","name":"","group":"65aa9370.a55c7c","order":2,"width":0,"height":0,"passthru":false,"label":"Servo Masuk","tooltip":"","color":"","bgcolor":"","icon":"","payload":"a","payloadType":"str","topic":"","x":430,"y":400,"wires":[[]]},{"id":"a332ed7b.cbb28","type":"ui_gauge","z":"ffcc3b8b.0b40a8","name":"","group":"65aa9370.a55c7c","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":560,"wires":[]},{"id":"d4c89334.9e941","type":"ui_gauge","z":"ffcc3b8b.0b40a8","name":"","group":"65aa9370.a55c7c","order":5,"width":0,"height":0,"gtype":"gage","title":"Kelembapan","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":620,"wires":[]},{"id":"c2b8c9f7.a4a988","type":"mqtt in","z":"ffcc3b8b.0b40a8","name":"ON Kipas","topic":"adit/merah","qos":"2","datatype":"auto","broker":"beb52e4f.3b495","x":90,"y":120,"wires":[["c5631e16.bbe0e"]]},{"id":"98ee13f7.47af","type":"mqtt in","z":"ffcc3b8b.0b40a8","name":"OFF Kipas","topic":"adit/merah","qos":"2","datatype":"auto","broker":"beb52e4f.3b495","x":100,"y":180,"wires":[["3d237967.4d4726"]]},{"id":"7975c482.0167ec","type":"mqtt in","z":"ffcc3b8b.0b40a8","name":"Servo Masuk","topic":"adit/servo1","qos":"2","datatype":"auto","broker":"beb52e4f.3b495","x":110,"y":320,"wires":[["78d55df6.ef4854"]]},{"id":"d0901662.46d368","type":"mqtt in","z":"ffcc3b8b.0b40a8","name":"Servo Keluar","topic":"adit/servo2","qos":"2","datatype":"auto","broker":"beb52e4f.3b495","x":90,"y":380,"wires":[["bec26b92.09b768"]]},{"id":"e2f9d296.55af9","type":"mqtt in","z":"ffcc3b8b.0b40a8","name":"Temperature","topic":"adit/temperature","qos":"2","datatype":"auto","broker":"beb52e4f.3b495","x":110,"y":460,"wires":[["a332ed7b.cbb28"]]},{"id":"2403e32a.da263c","type":"mqtt in","z":"ffcc3b8b.0b40a8","name":"Kelembapan","topic":"adit/humidity","qos":"2","datatype":"auto","broker":"beb52e4f.3b495","x":110,"y":520,"wires":[["d4c89334.9e941"]]},{"id":"4d3e5477.24a2cc","type":"mqtt in","z":"ffcc3b8b.0b40a8","name":"Cuaca","topic":"adit/cuaca","qos":"2","datatype":"auto","broker":"beb52e4f.3b495","x":110,"y":580,"wires":[["c9076386.81cdf"]]},{"id":"c9076386.81cdf","type":"ui_gauge","z":"ffcc3b8b.0b40a8","name":"","group":"65aa9370.a55c7c","order":6,"width":0,"height":0,"gtype":"gage","title":"Cuaca","label":"units","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":680,"wires":[]}]